<table id="display" style="display:none">
	<tr>
		<th style="text-align: center; width: 120; padding-right:20; padding-left:20; font-weight:600">{{ .Shout.Name }}</th>
	</tr>
	<tr>
		<th style="text-align: center; width: 120; padding-right:20; padding-left:20"><img src="http://puzzledragonx.com/en/img/book/{{ .Shout.Leader.Id }}.png"/></th>
	</tr>
	<tr>
		<th style="text-align: center; display: inline-block; width: 160; font-size: 13">{{ .Shout.Message }}</th>
	</tr>
</table>
<script type="text/javascript">
    $(document).ready(function(){
    	$("#display").fadeIn(1000, "linear", speak);
    });

    function speak(){
    	var audio = new Audio('assets/alert.mp3');
		audio.play();
		var utterance = new window.SpeechSynthesisUtterance();
		if (voice == null) {
			utterance.lang = 'ja-JP';
		} else {
			utterance.voice = voice
		}
		utterance.volume = 1.0;
		utterance.rate = 1.0;
		utterance.pitch = 1.0;
		utterance.text = {{ .Shout.Message }};
		setTimeout(function() {
			window.speechSynthesis.speak(utterance);
		}, 1500)
    }
</script>
