<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div id="supports"></div>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function(){
      refresh();
    });

    function refresh(){
        $('#supports').load('supports', function(){
            setTimeout(refresh, 5000);
        });
    }
</script>