<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div id="shouts"></div>
</body>
</html>

<script type="text/javascript">
    var voice = null;
    $(document).ready(function(){
      window.speechSynthesis.getVoices()
      window.speechSynthesis.onvoiceschanged = function() {
        voices = window.speechSynthesis.getVoices();
        for (i=0; i<voices.length; i++) {
          if (voices[i].name.startsWith("Google US English")) {
            voice = voices[i]
          }
        }
      };
      refresh();
    });

    function refresh(){
        $('#shouts').load('shouts', function(){
           if ($('#shouts').is(":empty")) {
            setTimeout(refresh, 1000)
           } else {
            setTimeout(refresh, 10000);
          }
        });
    }
</script>